<div id="auth-screen">
    <div class="auth-bg-grid"></div>
    <div class="auth-card" id="auth-card">
        <div class="auth-logo">
            <div class="auth-logo-icon">🔍</div>
            <span class="auth-logo-text">{{appName}}</span>
            <!-- <span class="auth-logo-badge">Beta</span> -->
        </div>
        <div id="view-oauth" style="text-align: center; padding: 20px 0px;">
            <div class="spinner" style="margin:0 auto 16px"></div>
            <div style="font-size:14px;font-weight:600;margin-bottom:6px" id="oauth-title">Connecting to Google...</div>
            <div style="font-size:12px;color:var(--muted)">Authenticating with <span id="oauth-provider">Google</span>
            </div>
        </div>
    </div>
</div>